doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title User Home
    include ../partials/bootstrap
  body
    // Navbar
    include ../partials/header

    // Main
    .container.py-4
      h1.h4.mb-1 Hi, #{name}
      include ../partials/message

      p.text-muted.small.mb-4 Welcome back!

      // Change password
      hr.my-4
      h2.h5.mb-3 Change password
      form(action="/api/auth/change-password", method="POST", class="row gy-3")
        input(type="hidden" name="_csrf" value=csrfToken) 
        .col-md-5
          label.form-label(for="old-password") Old password
          input#old-password.form-control(
            type="password"
            name="oldPassword"
            placeholder="Old password"
            required
          )
        .col-md-5
          label.form-label(for="new-password") New password
          input#new-password.form-control(
            type="password"
            name="newPassword"
            placeholder="New password"
            required
          )
        .col-md-2.d-flex.align-items-end
          button.btn.btn-primary.w-100(type="submit") Update

    // Bootstrap JS
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    )
